/* .syntax__article div {
    margin-bottom: 30px;
} */

.syntax__article--head {
  width: 112px;
  height: 22px;
  margin-bottom: 30px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;

  color: #2131b6;
}

.syntax__article--topic {
  width: 367px;
  height: 92px;
  margin-bottom: 30px;

  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;

  color: #25282b;
}

.syntax__article--text {
  width: 508px;
  height: 82px;
  margin-bottom: 30px;

  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #52575c;
}
