.syntax__header {
  background-image:  url("../../assets/Black_Mercedes_Benz_GL_2013_Car_PNG_Clipart-105\ 1.png");
  
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.syntax__header--heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.syntax__header--head {
  margin-bottom: 10px;
  max-width: 524px;
  max-height: 112px;

  font-family: 'Archivo','Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 59px;
  line-height: 42px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.syntax__header--text {
  max-width: 636px;
  max-height: 54px;

  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  text-align: center;
  margin: 10px 0;

  color: #ffffff;
}

.syntax__header--pagination {
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}
